@font-face {
  font-family: Lahzeh;
  src: url('fonts/lahzeh/Lahzeh-Thin.ttf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Lahzeh;
  src: url('fonts/lahzeh/Lahzeh-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Lahzeh;
  src: url('fonts/lahzeh/Lahzeh-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Lahzeh;
  src: url('fonts/lahzeh/Lahzeh-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Lahzeh;
  src: url('fonts/lahzeh/Lahzeh-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Lahzeh;
  src: url('fonts/lahzeh/Lahzeh-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Lahzeh;
  src: url('fonts/lahzeh/Lahzeh-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Lahzeh;
  src: url('fonts/lahzeh/Lahzeh-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Lahzeh;
  src: url('fonts/lahzeh/Lahzeh-Black.ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}



::selection {
    background: #0E4663;
    color:white;
}
::-moz-selection {
    background: #0E4663;
    color:white;
}

/*
More Template Custom CSS Here...
 */
body{
    font-family: 'Lahzeh', tahoma, serif;
}

.container-standard {
    max-width: min(90%,70rem);
    margin-right: auto;
    margin-left: auto;
  }

  .container-standard-wide {
    max-width: min(100%,85rem);
    margin-right: auto;
    margin-left: auto;
  }

  @media only screen and (max-width: 640px) {
    .container-standard-mobile-full-width {
      max-width: 100%;
    }
  }

  [x-cloak] { display: none !important; }

.paraxButton1{
  @apply relative overflow-hidden flex gap-2 items-center justify-center  bg-primary text-white py-2 px-5
  after:w-0 after:h-full after:bg-primary-900 after:absolute after:right-0 after:transition-all after:duration-500 after:ease-in-out after:left-0
  after:group-hover:right-auto after:group-hover:left-0 after:group-hover:w-full;
}

.paraxButton2{
  @apply relative overflow-hidden flex gap-2 items-center justify-center border border-primary-50 text-primary-50 py-2 px-5
  after:w-0 after:h-full after:bg-primary-50 after:absolute after:right-0 after:transition-all after:duration-500 after:ease-in-out after:left-0
  after:group-hover:right-auto after:group-hover:left-0 after:group-hover:w-full group-hover:text-background transition-all duration-500 ease-in-out;
}


#heroSwiperPagination .swiper-pagination-bullet{
  @apply w-10 lg:w-14 h-[3px] lg:h-1 rounded-none opacity-100 bg-primary-50;
}

#heroSwiperPagination .swiper-pagination-bullet-active{
  @apply bg-primary;
}

/* ABOUT PAGE SWIPER */
#gallerySwiperPagination .swiper-pagination-bullet{
  @apply w-3 h-[3px] lg:h-1 rounded-none opacity-100 bg-primary-50;
}

#gallerySwiperPagination .swiper-pagination-bullet-active{
  @apply bg-primary w-6;
}


#gallerySwiper .swiper-slide-active{
  @apply !scale-105  transition-all duration-500 ease-in-out;
}

#gallerySwiper .swiper-slide-prev,
#gallerySwiper .swiper-slide-next{
  @apply !scale-90 transition-all duration-500 ease-in-out;
}

/* ABOUT PAGE SWIPER END */

.glassBox{
  @apply rounded-full size-24 lg:size-32 backdrop-blur overflow-hidden relative flex items-center justify-center bg-representation-bg;
}


.glassBox::before,
.glassBox::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  padding: 2px;
  -webkit-mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
  mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  transition: opacity 0.6s ease-in-out; 
}

.glassBox::before {
  background: linear-gradient( #96979B26, #231F2080,#231F2080, #96979B26);
  opacity: 1;
}

.glassBox::after {
  background: linear-gradient(#231F2080, #fffbe660, #fffbe660, #231F2080);
  opacity: 0;
}

.group:hover .glassBox::before {
  opacity: 0;
}
.group:hover .glassBox::after {
  opacity: 1;
}


.contact-glassBox{
  @apply size-14 relative overflow-hidden rounded-full bg-representation-bg/40 text-primary-700 shrink-0 flex items-center justify-center;
}

.contact-glassBox::before{
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  padding: 2px;
  -webkit-mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
  mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  transition: opacity 0.6s ease-in-out; 
}

.contact-glassBox::before {
  background: linear-gradient( #96979B26, #231F2080,#231F2080, #96979B26);
  opacity: 1;
}


/* HAMBURGER MENU STYLES START */


.hamburgerSubMenu ul li a{
  @apply  font-medium h-14 flex justify-between items-center pr-5 text-gray-50;
}

.hamburgerSubMenu ul>li>ul>li>a{
  @apply font-light pr-8 bg-secondary-500/5 border border-primary-50/5;
}

.hamburgerSubMenu ul>li>ul>li .activeMenu{
  @apply bg-secondary-500/5 
}
.hamburgerSubMenu ul li ul li ul li a{
  @apply  font-extralight pr-12 bg-transparent border-none;
}


.hamburgerSubMenu .activeMenu::after{
  content: "\f077" !important; 
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
}

.hamburgerSubMenu ul > li:has(ul) > a::after{
  content: "\f078"; 
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  @apply  flex items-center text-primary-700 justify-center size-14;
}

/* HAMBURGER MENU STYLES END */




.filterSelectForm{
  background-position: left 0.5rem center;
  padding-left: 2.5rem;
  padding-right: 1rem;
}

.filterSelectForm option{
  @apply bg-[#212323CC]/80 backdrop-blur-xl text-primary-50 font-light; 
}




/* PRODUCT MENU STYLES START */

.productMenuStiky{
  @apply fixed top-14 px-8 lg:px-16 xl:px-28 left-0 right-0 bg-white pt-3 z-[50];
}

.productMenu .active{
  @apply relative after:absolute after:left-0 after:right-0 after:-bottom-[14px] after:h-1 after:rounded-t after:bg-primary-500;
}

@media only screen and (min-width: 1280px) {
    .productMenuStiky .productMenuList{
      max-width: 71rem;
      margin-right: auto;
      margin-left: auto;
  }
}
/* PRODUCT MENU STYLES END */



/* COLLECTION3 PAGE SWIPER */


/* PROJECT GALLERY STATR */

#projectGallerySwiperPagination .swiper-pagination-bullet{
  @apply w-3 h-[3px] lg:h-1 rounded-none opacity-100 bg-primary-50;
}

#projectGallerySwiperPagination .swiper-pagination-bullet-active{
  @apply bg-primary w-6;
}


#projectGallerySwiper .swiper-slide-active{
  @apply !scale-105  transition-all duration-500 ease-in-out;
}

#projectGallerySwiper .swiper-slide-prev,
#projectGallerySwiper .swiper-slide-next{
  @apply !scale-90 transition-all duration-500 ease-in-out;
}

/* PROJECT GALLERY END */



/* SIMILAR PROJECT START */

#similarProjectSwiperPagination .swiper-pagination-bullet{
  @apply w-3 h-[3px] lg:h-1 rounded-none opacity-100 bg-primary-50;
}

#similarProjectSwiperPagination .swiper-pagination-bullet-active{
  @apply bg-primary w-6;
}

/* SIMILAR PROJECT  END*/


/* COLLECTION3 PAGE SWIPER END */

#description,
#technicalDetails, 
#colorPalette {
    scroll-margin-top: 6rem;
}

html {
  scroll-behavior: smooth;
}


/* AGENT PAGE GLASS BOX  START*/


.glassBox2{
  @apply rounded-full size-32 backdrop-blur overflow-hidden relative flex items-center justify-center bg-representation-bg;
}


.glassBox2::before,
.glassBox2::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  padding: 2px;
  -webkit-mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
  mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  transition: opacity 0.6s ease-in-out; 
}

.glassBox2::before {
  background: linear-gradient( #96979B26, #231F2080,#231F2080, #96979B26);
  opacity: 1;
}

.glassBox2::after {
  background: linear-gradient(#231F2080, #fffbe660, #fffbe660, #231F2080);
  opacity: 0;
}

.group:hover .glassBox2::before {
  opacity: 0;
}
.group:hover .glassBox2::after {
  opacity: 1;
}

/* AGENT PAGE GLASS BOX END */
